%div{ class: 'w-screen h-screen max-w-full max-h-full text-gray-50 bg-gray-900 bg-no-repeat bg-cover flex flex-col items-center justify-center'}

  %div{class:"flex flex-col py-20 gap-10 px-32 bg-gray-500 flex flex-col items-center justify-center rounded"}
    %h2{class:"font-bold text-3xl"} Edit User Account
    = form_with scope: :user, url: user_profile_path, method: :patch do |f|
      - if @user.errors.any?
        %h2 Errors: 
        %ul
          - @user.errors.full_messages.each do |message|
            %li= message
      %div{class:"flex flex-col items-center justify-center gap-4 text-gray-800"}
        %div{class: "flex flex-col gap-2"}
          %h1{class: 'text-sm text-white'}USER EMAIL
          = f.text_field :email, class: 'rounded w-80', placeholder: "Email"
        %div{class: "flex flex-col gap-2"}
          %h1{class: 'text-sm text-white'}FIRST NAME
          = f.text_field :first_name, class: 'rounded w-80', placeholder: "Email"
        %div{class: "flex flex-col gap-2"}
          %h1{class: 'text-sm text-white'}LAST NAME
          = f.text_field :last_name, class: 'rounded w-80', placeholder: "Last Name"
        - if @user.wallet
          %div{class: "flex flex-col gap-2"}
            %h1{class: 'text-sm text-white'}BALANCE
            = f.number_field :balance, class: 'rounded w-80', value: @user.wallet.balance
        %button{class:"mt-10 rounded bg-blue-500 px-5 py-2 w-full text-white font-bold cursor-pointer hover:opacity-50"}
          = f.submit "Update Account"