%div{class: 'pt-32 w-screen h-screen max-w-full max-h-full text-gray-50 bg-no-repeat bg-cover flex flex-col gap-20 items-center'}
  %h1{class: 'text-3xl text-gray-900'} User View
  %div{class: 'max-w-full max-h-full text-gray-50 bg-no-repeat bg-cover flex flex-row items-center justify-center'}
    %div{class: 'flex flex-row text-center items-center justify-center gap-4 px-12 border-r border-solid border-gray-300 outline-none text-sm rounded bg-white rounded drop-shadow-2xl '}
      %h1{class: 'text-2xl text-gray-900'} EMAIL:
      %h1{class: 'text-2xl text-gray-900 font-bold'}= @user.email
    %div{class: 'flex flex-row items-center justify-center gap-4 px-12 border-r border-solid border-gray-300 outline-none text-sm rounded bg-white rounded drop-shadow-2xl '}
      %h1{class: 'text-2xl text-gray-900'} LAST NAME:
      %h1{class: 'text-2xl text-gray-900 font-bold'}= @user.first_name
    %div{class: 'flex flex-row items-center justify-center gap-4 px-12 border-r border-solid border-gray-300 outline-none text-sm rounded bg-white rounded drop-shadow-2xl '}
      %h1{class: 'text-2xl text-gray-900'} FIRST NAME:
      %h1{class: 'text-2xl text-gray-900 font-bold'}= @user.last_name
    - if @user.wallet
      %div{class: 'flex flex-row items-center justify-center gap-4 px-12'}
        %h1{class: 'text-2xl text-gray-900'} Balance: 
        %h1{class: 'text-2xl font-bold text-gray-900'}
          = @user.wallet.balance  
  %div{class: 'max-w-full max-h-full text-gray-50 gap-10 bg-no-repeat bg-cover flex flex-row items-center justify-center'}
    %button{:class => 'bg-blue-500 px-8 py-2 text-white rounded w-80 cursor-pointer hover:opacity-50'}
      = link_to edit_user_profile_path(@user.id)do
        Edit User
    %button{:class => 'bg-gray-500 px-8 py-2 text-white rounded w-80 cursor-pointer hover:opacity-50'}
      = link_to admin_root_path(@user.id)do
        Back