
%div{ class: 'w-screen h-screen max-w-full max-h-full bg-gray-50 text-gray-900 bg-no-repeat bg-cover flex flex-col items-center justify-center'}
  %div{ class: 'flex flex-col py-20 gap-2 px-32 bg-gray-500 flex flex-col items-center justify-center rounded'}
    %h2{ class:'font-bold text-white text-3xl mb-10'}Change Password
    = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
      = render "users/shared/error_messages", resource: resource
      %div{ class: 'flex flex-col items-center justify-center gap-4 text-gray-800'}
        %div{ class: 'flex flex-col w-80 text-center text-white items-center'}
          = f.label :email, class: 'font-bold'
          = f.email_field :email, autofocus: true, autocomplete: "email",:disabled => true, class: 'bg-gray-500'
        - if devise_mapping.confirmable? && resource.pending_reconfirmation?
          %div{ class: 'flex flex-col text-white items-center'}
            Currently waiting confirmation for: #{resource.unconfirmed_email}
        %div{ class: 'flex flex-col w-80 text-white items-center text-center'}
          = f.label :first_name, class: 'font-bold'
          = f.text_field :first_name, autofocus: true, autocomplete: "first name", :disabled => true, :disabled => true, class: 'bg-gray-500 items-center text-center'
        %div{ class: 'flex flex-col w-80 text-white items-center text-center'}
          = f.label :last_name, class: 'font-bold'
          = f.text_field :last_name, autofocus: true, autocomplete: "last name", :disabled => true, :disabled => true, class: 'bg-gray-500 text-center'
        %div{ class: 'flex flex-col w-80'}
          = f.password_field :password, autocomplete: "new-password", placeholder: 'New Password'
          - if @minimum_password_length
            %em{class: 'text-white'}
              = @minimum_password_length
              characters minimum
        %div{ class: 'flex flex-col w-80'}
          = f.label :password_confirmation
          = f.password_field :password_confirmation, autocomplete: "new-password"
        %div{ class: 'flex flex-col w-80'}
          = f.label :current_password
          %i (we need your current password to confirm your changes)
          = f.password_field :current_password, autocomplete: "current-password"
        .actions{ class: 'flex flex-col'}
          = f.submit "Update"
      %h3 Cancel my account
      %p
        Unhappy? #{button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete}
      = link_to "Back", :back
